.hero-bg {
  background-image: linear-gradient(
      rgba(35, 61, 255, 0.45),
      rgba(35, 61, 255, 0.45)
    ),
    url("../../assets/image1.jpg");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  color: #fff;
  font-family: "HankenGrotesk";
}

.logo {
  width: 350px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 250px;
  }
}

#logo-img {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.hero-h1 {
  font-size: 5rem;
}

.hero-h2 {
  font-size: 2rem;
}

.b-holder {
  display: flex;
  flex-direction: row;
}

.b {
  font-size: 2.25rem;
  color: #fff;
  height: 4rem;
  width: 20rem;
  text-align: center;
}

.b-blue {
  background-color: #233dff;
}

.b-black {
  background-color: #000;
}

.link {
  text-decoration: none;
  color: inherit;
}
